<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <mediaLibrary>
            <mediaProvider>
                <patch:attribute name="type">Foundation.RedirectManager.Extensions.CustomMediaProvider, Foundation.RedirectManager</patch:attribute>
            </mediaProvider>
        </mediaLibrary>
    </sitecore>
</configuration>